<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>!!! MARKETING APP !!!!</title>
</head>
<body>
    <h1>Jarin vallankumouksellinen markkinointisovellus!!!</h1>
    <br>
    <h3>Hae tästä jollain termillä firmoja*</h3>
    <form th:action="@{/apicall}" action="#" method="post">
    	<input type="text" name="categoryText" placeholder="SYÖTÄ YRITYKSEN TOIMIALA" />
    	<br>
    	<input type=text name="area" placeholder="SYÖTÄ YRITYKSEN TOIMIPAIKKA! TARKKA!">
    	<br>
        <input type="submit" value="API SOITTO :D:D:D"></input>
    </form>
    <br>
        <form th:action="@{/printCompanies}" method="get">
        <button type="submit">Näytä firmat</button>
    </form>
    <br>
    <h1>Company List</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Y-tunnus</th>
                <th>Lähde</th>
                <th>Linkki</th>
                <th>Sposti</th>
                <th>Henkilön nimi</th>
                <th>Lahetetty</th>
                <th>Toiminnassa</th>
                <th>Toimialue</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use Thymeleaf to iterate over companies -->
            <tr th:if="${companies != null}" th:each="company : ${companies}">
                <td th:text="${company.name}"></td>
                <td th:text="${company.businessId}"></td>
                <td th:text="${company.source}"></td>
                <td th:text="${company.link}"></td>
                <td th:text="${company.email}"></td>
                <td th:text="${company.personName}"></td>
                <td th:text="${company.send}"></td>
                <td th:text="${company.operational}"></td>
                <td th:text="${company.area}"></td>
            </tr>
            <!-- If there are no companies -->
            <tr th:if="${companies == null or companies.isEmpty()}">
                <td colspan="7">No companies found</td>
            </tr>
        </tbody>
    </table>
</body>
</html>