<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>NEW AMAZING MARKETING APP!!! WOW!!!!</title>
</head>
<body>
	<h1>KUKUI KUKUI</h1>
	<br>
	<form th:action="@{/apicall}" action="#" method="post">
		<input type="submit" value="API SOITTO :D:D:D"></input>
	</form>
	<br>
	<h1>Company List</h1>
	<br>
    <form action="/printObjects" method="get">
        <button type="submit">Print All Companies</button>
    </form>
</body>
</html>